html,body{
    min-height: 100vh;
    width: 100%;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    border-bottom: 5px solid black;
    cursor: pointer;
}

.header button{
    all: unset;
}

.header button:hover{
    color: red;
    text-underline-offset: initial;
}

.header > :first-child{
    position: absolute;
    left: 1%;
}

.header-buttons{
    justify-self: center;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    width: 15%;
    gap: 10px;
}


.wallpaper-About{
    position: relative;
}

.wallpaper-About img{
    object-fit: fill;
    width: 100%;
    max-height: 30rem;
}

.startShop{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: larger;
}

.startShop:hover{
    background-color: rgb(49, 48, 48);
    border: 2px solid white;
    color: white;
}

.itemsGrid{
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 30px;
    padding: 20px;
    max-height:100%;
}

.ourproducts{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 25rem;
    background-color:black;
    color: white;
    border-radius: 20px;
}

.information{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.itemImage{
    /* border: 5px solid red; */
    width: 40%;
    max-width: 80%;
    max-height: 80%;
}

.counterButton{
    border: 2px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.counterButton h5{
    font-size: larger;
}
.counterButton button {
    height: 40px;
    width: 40px;
    font-weight: 700;
    font-size: 30px;
}

.subtract:hover{
    background-color: red;
}

.add:hover{
    background-color: greenyellow;
}

.emptycart{
    text-align: center;
}

.emptycartbutton{
    width: 8rem;
    font-size: 30px;
    justify-self: center;
}

.emptycartbutton:hover{
    background-color: black;
    color: white;
}

.quantityCounter{
    color: white;
    font-size: 30px;
}

.cartBody{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;
}

.cartHeader{
    color: white;
    display: flex;
    justify-content: center;
    text-align: left;
}

.cartItems{
    display: grid;
    background-color: white;
    border-radius: 10px;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    grid-template-rows: auto 1fr;
    height: fit-content;
    width: 70%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.cartImageDiv{
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.cartImages{
    /* background-color: white; */
    max-height: 15rem;
    width: 15rem;
    margin-left: 2rem;
}

.cartImageDivLeft{
    /* background-color: aqua; */
    width: 50%;
}

.cartImageDivRight{
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    /* flex-grow: 0.8; */
    width: 50%;
    gap: 2rem;
}

.cartButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cartInfo{
    display: flex;
    justify-content: center;
    /* background-color: goldenrod; */
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.cartImageDiv button{
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 700;
}



